# Kustomize overlay for Minikube deployment
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: happykube

resources:
- ../../base
- secrets.yaml

# Patch images for local testing
images:
- name: emmekappa23/happykube-api
  newTag: latest
- name: emmekappa23/happykube-bot
  newTag: latest

# Patch imagePullPolicy to Never for local images
patchesJson6902:
- target:
    group: apps
    version: v1
    kind: Deployment
    name: happykube-api
  patch: |-
    - op: replace
      path: /spec/template/spec/containers/0/imagePullPolicy
      value: Never
- target:
    group: apps
    version: v1
    kind: Deployment
    name: happykube-bot
  patch: |-
    - op: replace
      path: /spec/template/spec/containers/0/imagePullPolicy
      value: Never

# ConfigMaps for Minikube-specific config
configMapGenerator:
- name: happykube-config
  literals:
  - APP_ENV=development
  - LOG_LEVEL=DEBUG
