__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
*.venv
env/
venv/
ENV/
env.bak/
*.sqlite3

.vscode/

src/config.py
.env
.env.*

*.log
*.out
*.pid

.ipynb_checkpoints

.cache/
transformers_cache/
datasets_cache/
hf_cache/

.DS_Store
Thumbs.db

deployment/*.yaml
deployment/*.yml
deployment/secrets*.yaml
deployment/secrets*.yml